# speech to text and text to speech
realtimestt
realtimetts[kokoro,coqui,orpheus,openai]

# webserver dependencies
fastapi
uvicorn

# configuration
python-dotenv

# llm providers
ollama
openai

# Kyutai/Moshi dependencies
sphn<0.2
moshi==0.2.11